<div class="login-container">
    <div >
        <form method="POST">
            <div class="form-group">
                <h3>Username</h3>
                <input type="text" name="username" class="form-control" placeholder="Enter your username.." value="" />
            </div>
            <div class="form-group">
                <input type="submit" class="btn" value="Submit" />
            </div>
        </form>
    </div>
</div>